@model sinema00.Models.Salon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Salon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalonId" class="control-label"></label>
                <input asp-for="SalonId" class="form-control" />
                <span asp-validation-for="SalonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalonAdi" class="control-label"></label>
                <input asp-for="SalonAdi" class="form-control" />
                <span asp-validation-for="SalonAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoltukSayisi" class="control-label"></label>
                <input asp-for="KoltukSayisi" class="form-control" />
                <span asp-validation-for="KoltukSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
